<div class="main-wrapper">
  <div class="back-icon">
    <%= link_to my_profile_path, class: "text-decoration-none text-reset" do %>
    <i class="fas fa-arrow-circle-left pl-2"></i>
    <% end %>
  </div>
  <div class="profile-edit-container">
    <%= simple_form_for(@profile) do |f| %>
    <p class="profile-form-category">Personal Information</p>
      <%= f.input :first_name, label: false, placeholder: "first name" %>
      <%= f.input :last_name, label: false, placeholder: "last name" %>
      <%= f.input :description, label: false, placeholder: "about me"  %>
      <%= f.input :address, label: false, placeholder: "address" %>

      <p class="profile-form-category">Services I Offer</p>
      <div class="profile-edit-checkboxes">
        <div>
          <%= f.label :sitter do %>
            <%= f.check_box :sitter, as: :boolean, label: false %>
            <span>plant sitter</span>
          <% end %>
        </div>
        <div>
          <%= f.label :advisor do %>
            <%= f.check_box :advisor, as: :boolean, label: false %>
            <span>plant advisor</span>
          <% end %>
        </div>
      </div>
      <%= f.input :sitter_price, input_html: { maxlength: 10, size: 40 }, label: "Your plant sitting price:",  placeholder: "ie. €10/pd, swap, negotiable, donation, free" %>
      <%= f.input :advisor_price, input_html: { maxlength: 10, size: 40 }, label: "Your advisor price:",  placeholder: "ie. €10/pd, swap, negotiable, donation, free" %>
      <%= f.input :max_radius, label: "How many kilometers from your home are you willing to travel?", placeholder: "0", input_html: { min: "0" }%>
      <div class="profile-experience-radio-buttons">
        <%= f.input :experience, as: :radio_buttons, collection: ['Seedling (beginner)', 'Plant Friend (moderate)', 'Moss Person (knowledgable)', 'Plant Whisperer (expert)'] %>
      </div>
      <%= f.input :banner_img, as: :file %>
      <%= f.input :profile_img, as: :file %>
      <%= f.input :public, as: :radio_buttons %> 
      <%= f.submit class: "submit-button" %>    
    <% end %>
  </div>
</div>

