<div class="main-wrapper">
  <div class="logo-centered">
    <%= image_tag "PlantCharacter.png" %>
  </div>
  <div class="flex-container">
    <p class="search-form-address-params"><%= session[:search][:address].first(40) %>...</p>
  </div>

  <% @profiles.each do |profile| %>
      <%= link_to profile_path(profile), class:"text-decoration-none text-reset" do %>
    <div class="profile-card-homepage">
      <div class="profile-card-outer-flex-container">
        <div class="profile-card-container-left">
          <div class="profile-card-image-container">
            <%= cl_image_tag(profile.profile_img, alt: "user-image", class: "rounded-circle profile-user-img", width: 80, height: 80) %>
          </div>
        </div>
        <div class="profile-card-container-right ml-3 ">
          <div class="profile-card-name-container">
            <h4 class="mr-3 mb-0"><%= profile.first_name %></h4>
            <div class="profile-card-experience-rating-location-container">
              <p class="make-me-flex mb-0"><%= profile.avg_rating %><%= image_tag "leaf.png", class: "ml-1" %></p>
          </div>
          </div>
          <p class="make-me-flex m-0"><%= image_tag "map-pin.svg", class: "mr-1" %>Berlin, Germany</p>

        </div>
      </div>
      <div class="profile-card-outer-flex-container align-items-end">
        <div class="profile-card-container-left flex-grow-1">
          <div class="profile-card-service-flex-container">
            <% if profile.sitter && profile.advisor %>
              <p class="service-tag plant-sitter">sitter</p>
              <p class="service-tag advisor">advisor</p>
            <% elsif profile.sitter %>
              <p class="service-tag">sitter</p>
            <% elsif profile.advisor %>
              <p class="service-tag">advisor</p>
            <% end %>
          </div>
          <span class="profile-experience"> <%= profile.experience %></span>
        </div>
        <div class="profile-card-container-right">
          <div class="profile-card-price-container make-me-flex">
            <h4 class="profile-card-price mb-0"><%=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10].sample %>€</h4>
            <p class="mb-0">/day</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
