<div class="profile-edit-scrollbox">
  <div class="container">
    <img class="banner" src=<%= 'https://source.unsplash.com/random/900×250/?plants' %> alt="plant">
    <img src=<%= @profile.profile_img %> alt="user-image" class="rounded-circle profile-avatar";>
    
    
    <div class="name-experience-offers-rating">
      <div class="name-rating">
        <p class="name"><%= @profile.first_name %> <%= @profile.last_name %></p>
      </div>
      <div class="d-flex flex-row-reverse pt-2">
        <% (5 - @profile.avg_rating.round).times do %>
          <i class="fas fa-leaf grey-leaf"></i>
        <% end %>
        <% @profile.avg_rating.round.times do %>
          <i class="fas fa-leaf green-leaf"></i>
        <% end %>
      </div>
      </div>
      <div class="experience">
        <p><em><%= @profile.experience %></em></p>
      </div>
      <div class="sitter-advisor">
        <p>Offers: </p>
        <% if @profile.sitter %>
          <p class="tag-sitter">sitter</p>
        <% end %>
        <%if @profile.advisor %>
          <p class="tag-advisor">advisor</p>
        <% end %>
      </div>
    </div>

    <div class="description-about-me">
      <p><strong>About Me:</strong></p> 
      <p><%= @profile.description %></p>
      <div class="about-me-edit-pencil">
        <%= link_to edit_profile_path(@profile) do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </div>
    </div>
  <p class="ml-2" style="font-size:18px"><strong>Services (tap to edit):</strong></p>
  <div class="services">
    <div class="service-sitter">
      <div>
        <p>Advice</p>
        <p class="service-info-line">help with plant care problems</p>
      </div>
      <div class="service-price">
        <div>
          <p class="mr-3"><%= @profile.sitter_price %></p>
        </div>
        <div>
          <%= link_to new_profile_booking_path(@profile) do %>
            <i class="fas fa-chevron-right"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div class="service-advisor">
      <div>
        <p>Plant Sitting</p>
        <p class="service-info-line">personalized care schedule</p>
      </div>
      <div class="service-price">
        <div>
          <p class="mr-3"><%= @profile.advisor_price %></p>
        </div>
        <div>
          <%= link_to new_profile_booking_path(@profile) do %>
            <i class="fas fa-chevron-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
    
  <div class="actions">
    <div>
      <%= link_to 'edit profile', edit_profile_path(@profile), class: "btn-sea-green" %>
    </div>
    <div>
      <%= link_to 'book me!', new_profile_booking_path(@profile), class: "btn-sea-green" %>
    </div>
    <div>
      <%= link_to 'My Bookings', profile_bookings_path(current_user.profile.id), class: "btn-sea-green" %>
    </div>
    <div>
      <%= link_to 'Booking Requests', booking_requests_path, class: "btn-sea-green" %>
    </div>
    <div>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn-sea-green" %>
    </div>
  </div>
</div>