<div class="container">
    <%# @profile.banner_img %>
  <div class="profile-info">
    <img class="banner" src=<%= 'https://source.unsplash.com/random/900×250/?plants' %> alt="plant">
    <img src=<%= @profile.profile_img %> alt="user-image" class="rounded-circle profile-avatar";>
    
    <div class="avatar-info-box">
      <div class="name-experience-offers-rating">
        <div class="name-rating">
          <p><%= @profile.first_name %> <%= @profile.last_name %></p>
          <p>*****<%= @profile.avg_rating %></p>
        </div>
        <div class="experience">
          <p><%= @profile.experience %></p>
        </div>
        <div class="sitter-advisor">
          <p>Sitter Status: <%= @profile.sitter %></p>
          <p>Advisor Status: <%= @profile.advisor %></p>
        </div>
      </div>
    </div>

    <%= link_to image_tag("NAVBARICONS/mail.png"), chat_room_path, class: "button-profile-message" %>

    <div class="description-about-me">
      <p>About <%= @profile.first_name %>: <%= @profile.description %></p>
    </div>

    <div class="review-container">
      <% @reviews.each do |review| %>
        <img src=<%= review.user.profile.profile_img %> alt="user-image" class="rounded-circle border mb-3" style="width: 50px; height: 50px;">
        <%= review.user.profile.first_name %>
        <%= review.user.profile.last_name %>
        <%= review.content %>
        <%= review.recommended %>
        <%= review.rating %>
        <%= review.created_at.strftime("%b %d, %Y") %>
      <% end %>
    </div>
  </div>
  
  <%= link_to 'edit profile', edit_profile_path(@profile), class: "btn btn-primary" %>
  <%= link_to 'book me!', new_profile_booking_path(@profile), class: "btn btn-primary" %>
  <%= link_to 'My Bookings', profile_bookings_path(current_user.profile.id), class: "btn btn-primary" %>
  <%= link_to 'Booking Request', booking_requests_path, class: "btn btn-primary" %>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
</div>
