<div class="chatrooms-header">
  <div>
    <%= form_tag chat_rooms_path, method: :get do %>
      <div class="messages-searchbar">
       <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a message"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="message-create">
    <h3>Your messages</h3>
    <%= link_to users_path do  %>
    <i class="far fa-plus-square"></i>
    <% end %>
  </div>
</div>




<% @chatrooms.each do |chatroom| %>

  <%= link_to chat_room_path(chatroom, anchor: "message-#{chatroom.messages.last.id}"), class: "text-decoration-none text-reset" do %>
    <div class="chatindex-list-container">
      <div class="header-avatar">
        <% other_person = current_user == chatroom.receiver ? chatroom.requester : chatroom.receiver  %>
        <%= image_tag other_person.profile.profile_img %>
      </div>
      <div class="name-and-date-flex">
        <div class="chatindex-otherperson-name">
          <h4><%= other_person.profile.first_name %> <%= other_person.profile.last_name %></h4>
          <p><%= chatroom.messages.last.content %></p>
        </div>
        <div class="chatindex-date-and-time">
         <small><%= chatroom.messages.last.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </div>
      </div>
    </div>
  <% end %>

<% end %>

