<div class="main-wrapper">
  <div class="chat-header-flex-container">
    <h2 class="plant-fam-chat-header">PlantFam Chat</h2>
    <%= link_to users_path, class: "text-decoration-none text-reset" do  %>
      <div class="chat-header-new-button">
        <p>New Message</p>
      </div>
    <% end %>
  </div>

  <div class="search-border">
    <%= form_tag chat_rooms_path, method: :get do %>
      <div class="chat-search">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control no-border",
            placeholder: "Search for a conversation"
          %>
          <%= button_tag(type: "submit", class: "btn-search") do %>
            <i class="fas fa-search"></i>
          <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="chats-scrollbox">
  <% @chatrooms.each do |chatroom| %>
    <% if chatroom.messages.count > 0 %>
      <%= link_to chat_room_path(chatroom, anchor: "message-#{chatroom.messages.last.id}"), class: "text-decoration-none text-reset" do %>
        <div class="chat-with-other-user-flex-container">
          <div class="header-avatar chat-notification-container">
            <% other_person = current_user == chatroom.receiver ? chatroom.requester : chatroom.receiver  %>
            <%= cl_image_tag(other_person.profile.profile_img) %>
            <%# Notifications %>
            <% if chatroom.notifications? %>
              <div class="chat-notification chat-notification-chat">
                <%= chatroom.number_of_notifications %>
              </div>
            <% end %>
          </div>
          <div class="chat-container-right">
            <div class="chatindex-otherperson-name">
              <h6><%= other_person.profile.first_name %> <%= other_person.profile.last_name.first %>.</h6>
              <small class="chatindex-date-and-time"><%= chatroom.messages.last.created_at.strftime("%l:%M%p") %></small>
            </div>
            <div class = "msg-preview">
              <p><%= chatroom.messages.last.content.first(30) %>...</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div class="bottom-nav-scroll-block"></div>
</div>


<% if false %>
  <small><%= chatroom.messages.last.created_at.strftime("%a %b %e at %l:%M%p") %></small>
<% end %>
