<% other_person = current_user == @chatroom.receiver ? @chatroom.requester : @chatroom.receiver  %>
<div class="chatrooms-header">
  <p>searchbar should be here></p>
  <p>Your messages</p>
</div>
<div class="chat-header">
  <div>
    <%= link_to chat_rooms_path do %>
    <i class="fas fa-arrow-circle-left pl-2"></i>
    <% end %>
  </div>
  <div class="header-avatar">
    <%= image_tag other_person.profile.profile_img %>
  </div>
  <div>
    <h4><%= other_person.profile.first_name %> <%= other_person.profile.last_name %></h4>
  </div>
  <div>
    <i class="far fa-user-circle pl-5"></i>
  </div>
</div>

<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
  <% end %>
</div>

<%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "What's on your mind?" %>
  <%= f.submit "send" %>
<% end %>
