<% other_person = current_user == @chatroom.receiver ? @chatroom.requester : @chatroom.receiver  %>
<div class="chat-header">
  <div class="header-avatar">
    <%= image_tag other_person.profile.profile_img %>
  </div>
  <div>
  </div>
  <div>
  </div>

<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
  <% end %>
</div>

<%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "What's on your mind?" %>
  <%= f.submit "send" %>
<% end %>
