<h1>Your booking requests</h1>

<ul>
  <% @bookings.each do |booking| %>
    <div class="my-3">
      <%= booking.client.email %> booked your service.
      <br>
      Service wanted <%= booking.service_type %>
      <br>
      From <%= booking.start_date.strftime("%b %d, %Y") %> until <%= booking.end_date.strftime("%b %d, %Y") %>
      <br>
      Booking <%= booking.confirmed == "pending" ? "Pending" : (booking.confirmed == "confirmed" ? "confirmed" : "rejected") %>
      <br>
      <%= booking.comment %>
    </div>
    <%= link_to "Accept booking", accept_booking_path(id: booking) %>
    <%= link_to "Reject booking", reject_booking_path(id: booking), method: :post %>
  <% end %>
</ul>
