<h1>Your booking requests</h1>

<ul>
  <% @bookings.each do |booking| %>
    <div class="my-3">
      <%= booking.client.email %> booked your service.
      <br>
      Service wanted <%= booking.service_type %>
      <br>
      From <%= booking.start_date.strftime("%b %d, %Y") %> until <%= booking.end_date.strftime("%b %d, %Y") %>
      <br>
      <%= booking.confirmed? ? "Accepted" : "Pending" %> confirmation
    </div>
  <% end %>
</ul>
