<h1>My Bookings</h1>

<ul>
  <% @bookings.each do |booking| %>
    <div class="my-3">
      You booked <%= booking.provider.email %>
      <br>
      Service provided <%= booking.service_type %>
      <br>
      From <%= booking.start_date.strftime("%b %d, %Y") %> until <%= booking.end_date.strftime("%b %d, %Y") %>
      <br>
      <%= booking.confirmed? ? "Accepted" : "Pending" %> confirmation
    </div>
    <%= link_to 'make a review', new_booking_review_path(booking) %>
  <% end %>
</ul>
