<i class="fas fa-arrow-alt-circle-left fa-3x"></i>
<div class="profile-card">
  <div class="profile-card-user-info">
      <div class="profile-card-image">
        <img src=<%= @profile.profile_img %> alt="user-image" class="rounded-circle" style="width: 70px; height: 70px;">
      </div>
  <div class="profile-card-user-text">
    <h4><%= @profile.first_name %></h4>
    <p class="mt-1">Berlin <br>
    <span class="experience"> <%= @profile.experience %></span></p>
  </div>
  <div class="profile-card-user-rating-price">
    <div class="profile-card-rating">
      <p><%= @profile.avg_rating %><%= image_tag "leaf.png", class: "ml-1" %></p>
    </div>
    <div class="profile-card-price">
      <p><%= [5, 12, 8, 18, 4, 9].sample %>€ / d</p>
    </div>
  </div>
  </div>
  <div class="profile-card-services">
    <% if @profile.sitter && @profile.advisor %>
      <div class="plantsitter">
        Plantsitter
      </div>
      <div class="advisor">
        Advisor
      </div>
    <% elsif @profile.sitter %>
      <div class="plantsitter">
        Plantsitter
      </div>
    <% elsif @profile.advisor %>
      <div class="advisor">
        Advisor
      </div>
    <% end %>
  </div>
</div>



<% if @profile.sitter? && @profile.advisor? %>
  <% options = ["sitting", "advise"] %>
<% elsif @profile.sitter? %>
  <% options = ["sitting"] %>
<% elsif @profile.advisor? %>
  <% options = ["advise"] %>
<% end %>
<div class="booking-form-container">

<h3>Send <%= @profile.first_name %> a request</h3>
<%= simple_form_for([@profile, @booking]) do |f| %>
  <%= f.input :service_type, collection: options %>
  <div class="d-flex">
    <%= f.input :start_date, input_html: {class: "input-width"}, as: :date, html5: true %>
    <%= f.input :end_date, input_html: {class: "input-width"}, as: :date, html5: true %>
  </div>
  <%= f.input :comment, label: "Send a message", input_html: {rows: 8, class: "bg-message message-radius"} %>
  <div class="text-center">

    <%= f.submit class: "btn submit-button" %>
  </div>
<% end %>
</div>
