<div class="profile-booking-new">
  <div class="profile-booking-avatar">
    <%= image_tag @profile.profile_img, class: "avatar" %>
  </div>
  <div class="profile-booking-info">
    <div class="profile-info-header">
      <p> <%= @name %> </p>
      <p> Rating <%= @profile.avg_rating %> </p>
    </div>
    <p class="profile-info-experience">Plant Whisperer</p>
    <div class="profile-info-service-info">
      <p>Offers:</p>
      <p class="profile-info-sitter">Plant Sitter</p>
       <p class="profile-info-advisor">Advisor</p>
    </div>
  </div>
</div>



<% if @profile.sitter? && @profile.advisor? %>
  <% options = ["Plant Sitting", "Advice"] %>
<% elsif @profile.sitter? %>
  <% options = ["Plant Sitting"] %>
<% elsif @profile.advisor? %>
  <% options = ["Advice"] %>
<% end %>

<div class="booking-form-container">
  <h3>Send <%= @profile.first_name %> a request</h3>
  <%= simple_form_for([@profile, @booking]) do |f| %>
    <%= f.input :service, as: :string, collection: options, html5: true, input_html: {value: "Plant Sitting"} %>
    <%= f.input :my_address, as: :string, html5: true, input_html: {value: session[:search]["address"]} %>
    <%= f.input :from, as: :string, required: true, input_html: {class: "datepicker", id: "range_start", value: session[:search]["from"]} %>
    <%= f.input :to, as: :string, required: true, input_html: {class: "datepicker", id: "range_start", value: session[:search]["to"]} %>
    <%= f.input :comment, label: "Tell #{Profile.find(params[:profile_id]).first_name} more about your plants" %>
    <%= f.submit class: "btn submit-button" %>
  <% end %>
</div>
