<div class="bottom-navbar fixed-bottom">
  <div class="nav-icon">
    <%= link_to root_path do %>
    <%= image_tag "NAVBARICONS/home.png" %>
    <% end %>
  </div>
  <div class="nav-icon">
    <%= link_to root_path do %>
    <%= image_tag "NAVBARICONS/find.png" %>
    <% end %>
  </div>
  <div class="nav-icon">
    <%= link_to "#" do %>
    <%= image_tag "NAVBARICONS/create.png" %>
    <% end %>
  </div>
  <div class="nav-icon">
    <%= link_to chat_rooms_path do %>
    <%= image_tag "NAVBARICONS/mail.png" %>
    <% end %>
  </div>
  <div class="nav-icon">
    <% if user_signed_in? %>
      <%= link_to profile_path(current_user.profile) do %>
      <%= image_tag "NAVBARICONS/profile.png", class: "signed-in" %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
      <%= image_tag "NAVBARICONS/profile.png", class: "signed-out" %>
      <% end %>
    <% end %>
  </div>
</div>
