<div class="bottom-navbar fixed-bottom">
  <div class="nav-icon">
    <%= link_to root_path do %>
    <%= image_tag "NAVBARICONS/home.png" %>
    <% end %>
  </div>
  <div class="nav-icon">
    <%= link_to root_path do %>
    <%= image_tag "NAVBARICONS/find.png" %>
    <% end %>
  </div>
  <div class="nav-icon">
    <%= link_to "#" do %>
    <%= image_tag "NAVBARICONS/create.png" %>
    <% end %>
  </div>
  <div class="nav-icon">
    <%= link_to chat_rooms_path do %>
    <%= image_tag "NAVBARICONS/mail.png" %>
    <% end %>
  </div>
  <div class="nav-icon nav-item dropup">
    <% if user_signed_in? %>
      <%= image_tag "NAVBARICONS/profile.png", class: "signed-in dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My profile", my_profile_path, class: "dropdown-item" %>
            <%= link_to "My Bookings", my_bookings_path(current_user.profile.id), class: "dropdown-item" %>
            <%= link_to "Edit Profile", edit_profile_path(@profile), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    <% else %>
      <%= link_to new_user_session_path do %>
      <%= image_tag "NAVBARICONS/profile.png", class: "signed-out" %>
      <% end %>
    <% end %>
  </div>
</div>
