<div class="main-wrapper">
  <div class="hero-text">
    <h4>Pick a service</h4>
  </div>

  <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
		<div class="col-5">
			<div class="card card-block card-1">
        <%= link_to search_path, class:"text-decoration-none text-reset" do %>
          <p>Find a Plant Sitter</p>
          <%= image_tag "sitter.png" %>
        <% end %>
      </div>
		</div>
		<div class="col-5">
			<div class="card card-block card-2">
        <%= link_to search_path, class:"text-decoration-none text-reset" do %>
          <p>Find Plant Care Advice</p>
          <%= image_tag "advisor.png" %>
        <% end %>
      </div>
		</div>
		<div class="col-5">
			<div class="card card-block card-3">
        <%= link_to search_path, class:"text-decoration-none text-reset" do %>
          <p>Find Plant Care Advice</p>
          <%= image_tag "house.png" %>
        <% end %>
      </div>
		</div>
  </div>
  
  <div class="profile-examples">
    <div class="plant-enthusiasts-header">
      <h4>Join over 4000 plant enthusiasts</h4>
    </div>

    
   
      
  
  

<% @profiles.last(5).each do |profile| %>
  <%= link_to profile_path(profile), class:"text-decoration-none text-reset" do %>
    <div class="profile-card-outer-flex-container">
      <div class="profile-card-container-left">
        <div class="profile-card-image-container">
          <img src=<%= profile.profile_img %> alt="user-image" class="rounded-circle profile-user-img" style="width: 80px; height: 80px;">
        </div>
        <div class="profile-card-price-container make-me-flex">
          <h4 class="profile-card-price">50€</h4>
          <p>/day</p>
        </div>
      </div>
      <div class="profile-card-container-right">
        <div class="profile-card-name-container">
          <h4><%= profile.first_name %></h4>
        </div>
        <div class="profile-card-service-flex-container">
          <% if profile.sitter && profile.advisor %>
            <p class="service-tag plant-sitter">Plant Sitter</p>
            <p class="service-tag advisor">Advisor</p>
          <% elsif profile.sitter %>
            <p class="service-tag">Plant Sitter</p>
          <% elsif profile.advisor %>
            <p class="service-tag">Advisor</p>
          <% end %>
        </div>
        <div class="profile-card-experience-rating-location-container">
          <span class="profile-experience"> <%= profile.experience %></span></p>
          <p class="make-me-flex"><%= profile.avg_rating %><%= image_tag "leaf.png", class: "ml-1" %></p>
          <p class="make-me-flex"><%= image_tag "map-pin.svg", class: "mr-1" %>Berlin, Germany</p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>









 <% if false %>


  <% @profiles.last(5).each do |profile| %>
        <div class="profile-card">
          <div class="profile-card-user-info">
            <div class="profile-card-image">
              <img src=<%= profile.profile_img %> alt="user-image" class="rounded-circle profile-user-img" style="width: 70px; height: 70px;">
            </div>

            <div class="profile-card-user-text">
              <h4><%= profile.first_name %></h4>
              <p class="mt-1">Berlin <br>
              <span class="experience"> <%= profile.experience %></span></p>
            </div>

            <div class="profile-card-user-rating-price">
              <div class="profile-card-rating">
                <p><%= profile.avg_rating %><%= image_tag "leaf.png", class: "ml-1" %></p>
              </div>
              <div class="profile-card-price">
                <p><%= [5, 12, 8, 18, 4, 9].sample %>€ / d</p>
              </div>
            </div>
          </div>
          <div class="profile-card-services">
              <% if profile.sitter && profile.advisor %>
                <div class="plantsitter">
                  Plantsitter
                </div>
                <div class="advisor">
                  Advisor
                </div>
              <% elsif profile.sitter %>
                <div class="plantsitter">
                  Plantsitter
                </div>
              <% elsif profile.advisor %>
                <div class="advisor">
                  Advisor
                </div>
              <% end %>
          </div>
          <p class="profile-description mt-4"><%= profile.description.first(100) %>...</p>
        <%= link_to "View Profile", profile_path(profile), class: "view-profile-link" %>
        </div>
    <% end %>
  </div>
</div>
    <% end %>
