<div class="container">
  <div class="hero-text">
    <h4>Pick a service</h4>
  </div>

  <div class="action-tabs-menu">
    <div class="action-tab">
      <%= link_to search_path, class:"text-decoration-none text-reset" do %>
      <p>Find a Plant Sitter</p>
      <%= image_tag "sitter.png", width: "100%" %>
      <% end %>
    </div>
    <div class="action-tab">
      <p>Find Plant Care Advice</p>
      <%= image_tag "advisor.png", width: "100%" %>
    </div>
  </div>

  
  <div class="profile-examples">
    <div class="plant-enthusiasts-header">
      <h4>Join over 4000 plant enthusiasts</h4>
    </div>
    <% @profiles.last(5).each do |profile| %>
      <%= link_to profile_path(profile), class: "text-decoration-none" do %>

        <div class="profile-card">

          <div class="profile-card-user-info">
            <div class="profile-card-image">
              <img src=<%= profile.profile_img %> alt="user-image" class="rounded-circle" style="width: 50px; height: 50px;">
            </div>

            <div class="profile-card-user-text">
              <h4><%= profile.first_name %></h4>
              <p class="mt-1">Berlin <br>
              <span class="experience"> <%= profile.experience %></span></p>
            </div>

            <div class="profile-card-user-rating-price">
              <div class="profile-card-rating">
                <p><%= profile.avg_rating %><%= image_tag "leaf.png", class: "ml-1" %></p>
              </div>
              <div class="profile-card-price">
                <p><%= [5, 12, 8, 18, 4, 9].sample %>€ / d</p>
              </div>
            </div>

          </div>

          <div class="profile-card-services">
              <% if profile.sitter && profile.advisor %>
                <div class="plantsitter">
                  Plantsitter
                </div>
                <div class="advisor">
                  Advisor
                </div>
              <% elsif profile.sitter %>
                <div class="plantsitter">
                  Plantsitter
                </div>
              <% elsif profile.advisor %>
                <div class="advisor">
                  Advisor
                </div>
              <% end %>
          </div>

          <p class="profile-description mt-4"><%= profile.description %></p>
        
        </div>
      <% end %>  
    <% end %>
  </div>
</div>


<% if false %>
  <div class="profile-card-services">
            <% if profile.sitter && profile.advisor %>
              <p>Plantsitter</p>
              <p>Advisor</p>
            <% elsif profile.sitter %>
              <p>Plantsitter</p>
            <% elsif profile.advisor %>
              <p>Advisor</p>
            <% end %>
          </div>

<% end %>