<div class="main-wrapper">
  <div class="homepage-logo-plantfam search-logo-spacing">
    <%= image_tag "plantfam-logo.png", class: "homepage-logo " %>
    <div class="hero-text homepage-plantfam-text-size search-logo-spacing">
      <%# <h3>Find a Plant Helper</h3> %>
    </div>
  </div>
  <div class="search-form-container">
    <%= simple_form_for :search, :url => "/profiles", method: "get" do |f| %>
      <div class="search-by-address">
        <p class="form-where">Where are your plants?</p>
        <%= text_field_tag :address, "", id: "address_input", placeholder: "Type in your address...", class: "form-where" %>
      </div>  
      <p class="form-label">When will you need help with your plants?</p>
      <div class="search-form-container">
        <%= f.input :from, as: :string, required: true, input_html: {class: "datepicker", id: "range_start"} %>
        <%= f.input :to, as: :string, required: true, input_html: {class: "datepicker", id: "range_end"} %>
      </div>
      <%= f.button :submit, "find", class: "btn-sea-green search-sitter-button" %>
    <% end %>
  </div>
</div>
