<div class="login-wrapper">
  <div class="login-image">
    <%= image_tag 'PlantCharacter.png' %>
  </div>
  <h2 class="text-center">Welcome to PlantFam!</h2>
  <h3 class="text-center pt-3 pb-3">Login via email</h3>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs login-form">
      <%= f.input :email,
                  label: false,
                  required: false,
                  placeholder: "Email",
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  label: false,
                  required: false,
                  placeholder: "password",
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, "Log in", class: "btn-sea-green" %>
    </div>
  <% end %>


  <div class="devise-conditionals-login">
    <h3 class="text-center italic">New to Plantfam?</h2>
    <%= render "devise/shared/links" %>
  </div>
