<div class="main-wrapper">
  <div class="chatroom-search-bar-flex-container">
    <%= image_tag "search.svg" %>
    <p>Search newsfeed</p>
  </div>
</div>

<% @posts.each do |post| %>
  <div class="post-card mb-3 mt-3 mx-2">
    <div class="post-card-info">
      <div class="post-card-info-avatar">
        <%= image_tag post.user.profile.profile_img, alt: "alttext" %>
      </div>
      <div class="post-card-info-name-title">
        <div class="post-card-info-name">
          <%= post.user.profile.full_name %>
        </div>
        <h2 class="post-card-info-title">
          <%= post.title %>
        </h2>

      </div>
    </div>
    <div class="post-card-image bg-succes">
      <img class="banner" src= "<%= post.image_url %>" alt="plant">
    </div>
    <div class="post-card-content">
      <span class="post-card-info-time"> <%= post.posted_on %> </span>
      <p class="post-content"><%= post.content.truncate(200) %></p>
      <div class="post-social">
        <div class="post-social-like">
          <%= image_tag "leaf.png", alt: "green-leaf", width: 18 %>
          45
          <%#= image_tag "yellow-leaf.png", alt: "yellow-leaf", width: 20 %>
        </div>
        <div class="post-social-comment">
          <%= image_tag "comment.png", alt: "alttext" %>
          4
        </div>
      </div>
    </div>
  </div>
<% end %>
